.todo-form {
	font-size: 18px;
	padding-top: 15px;
}

.todo-form input {
	padding: 5px;
}

.todo-form .full {
	width: 100%;
}

.todo-form label {
	display: block;
	padding-bottom: 10px;
}

.todo-form .form-group {
	padding-bottom: 15px;
}