.movie-listing-form{
	font-size: 18px;
	padding-top: 15px;
}

.movie-listing-form input{
	padding: 5px;
}

.full{
	width: 100%;
}

.movie-listing-form label{
	display: block;
	padding-bottom: 10px;
}

.form-group{
	padding-bottom: 15px;
}

.mins{
	font-size: 13px;
}

.order-save-msg, .order-save-err{
	display: none;
	padding: 10px !important;
}

.movie-sort-list{
	max-width: 400px;
}

.movie-sort-list li{
	padding: 12px;
	background: #f7f7f7;
	border: solid 1px #ddd;
}

.loading{
	display: none;
}

.movie-sort-list li:hover{
	background: #f5f5f5;
	cursor: crosshair;
}