.movie-col{
	width: 33%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
}

.movie-col .movie-title{
	padding: 20px 0 0 0 !important;
	margin: 0 !important;
}

.movie-col img {
	max-width: 95%;
	margin: auto;
	display: block;
}